textarea {
	font-family: monospace;
}
input[type="text"] {
	font-family: monospace;
}
div.canv {
	position: absolute;
	left: 50%;
	top: 50%;
}
td.key {
	height: 40px;
	width:  40px;
	vertical-align: center;
	text-align: center;
	color: black;
	background-color: white;
	font-family: sans-serif;
	font-weight: bold;
	border: 1px solid black;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
td.key:active,
td.key.active {
	color: white;
	background-color: black;
	border: 1px solid white;
}
div.buttons {
	position: fixed;
	top: 40px;
	left: 40px;
}
div.debugger {
	position: fixed;
	top: 100px;
	left: 40px;
	font-family: monospace;
	color: white;
}
table.debugger {
	font-family: monospace;
	color: white;
}
tr.debugger-searchline {
	text-decoration: underline;
	font-weight: bold;
}
div.lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	/*opacity: 0.75;*/
}
img.centericon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -32px 0 0 -32px;
}
body {
	margin: 0;
	padding:0;
}
div.menubar {
	text-align:center;
	background-color:black;
	padding:7px;
}
div.statusbar {
	text-align:center;
	background-color:black;
	color:white;
	height: 25px;
	padding:7px;
	position:fixed;
	bottom: 0;
	width: 100%;
}
h3 {
	color:white;
	background-color:black;
	margin: 3px;
}
div.rightpanel {
	position: absolute;
}
div.leftpanel {
	position: absolute;
	background-color:white;
	left: 5px;
	padding-bottom: 60px;
	height: 100%;
	top: 1px; /* account for the top border overlapping menubar */
	bottom: 0;
}
canvas#spriteEditorPalette {
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}
